Repository FE-Midas-Consultores/create-midas-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,html,css}": "prettier --write"
}

feat: update template `README.md`
  src/templates/README.md
Due: prettier --write

feat: update template `README.md` (#23)
  src/templates/README.md
Due: prettier --write

chore(eslint): add shadcn directory to the ignored files
  src/templates/next/js/.eslintignore
  src/templates/next/ts/.eslintignore
  src/templates/react/js/.eslintignore
  src/templates/react/ts/.eslintignore
Due: none

chore(eslint): add prop-type rule
  src/templates/next/js/.eslintrc.json
  src/templates/next/ts/.eslintrc.json
  src/templates/react/js/.eslintrc.json
  src/templates/react/ts/.eslintrc.json
Due: prettier --write

chore(pkg-json): remove carets
  src/templates/next/js/package.json
  src/templates/next/ts/package.json
  src/templates/react/js/package.json
  src/templates/react/ts/package.json
Due: prettier --write

chore(alias): update import alias to match shadcn config
  src/templates/react/js/jsconfig.json
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
Due: prettier --write

fix: update templates (#37)
  src/templates/next/js/.eslintignore
  src/templates/next/js/.eslintrc.json
  src/templates/next/js/package.json
  src/templates/next/ts/.eslintignore
  src/templates/next/ts/.eslintrc.json
  src/templates/next/ts/package.json
  src/templates/react/js/.eslintignore
  src/templates/react/js/.eslintrc.json
  src/templates/react/js/jsconfig.json
  src/templates/react/js/package.json
  src/templates/react/ts/.eslintignore
  src/templates/react/ts/.eslintrc.json
  src/templates/react/ts/package.json
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
Due: prettier --write

chore: remove shebang `ExperimentalWarning`
  src/index.ts
Due: prettier --write, eslint --fix

fix: replace `file.parentPath` for `path`
  src/utils/read-files.ts
Due: prettier --write, eslint --fix

fix: rename template project (#78)
  src/index.ts
  src/utils/read-files.ts
Due: prettier --write, eslint --fix

chore(prettier): ignore `release-please-manifest` and `CHANGELOG` files
  .prettierignore
Due: none

feat: add project initialization in current directory
  src/generators/next.ts
  src/generators/react.ts
  src/utils/get-project-name.ts
  src/utils/read-files.ts
  src/utils/setup-project.ts
  src/utils/show-next-steps-message.ts
Due: prettier --write, eslint --fix

feat: add project initialization in current directory (#81)
  .prettierignore
  src/generators/next.ts
  src/generators/react.ts
  src/utils/get-project-name.ts
  src/utils/read-files.ts
  src/utils/setup-project.ts
  src/utils/show-next-steps-message.ts
Due: prettier --write, eslint --fix

fix: replace `Promise.all` for `for of` loop
  src/utils/read-files.ts
Due: prettier --write, eslint --fix

refactor: move `replaceFiles` into `setupProject`
  src/generators/next.ts
  src/generators/react.ts
  src/utils/setup-project.ts
Due: prettier --write, eslint --fix

docs(readme): add project initialization in current directory
  README.md
Due: prettier --write

fix: replace `Promise.all` for `for of` loop (#82)
  README.md
  src/generators/next.ts
  src/generators/react.ts
  src/utils/read-files.ts
  src/utils/setup-project.ts
Due: prettier --write, eslint --fix

chore(react-template): update tsconfig
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
  src/templates/react/ts/tsconfig.node.json
Due: prettier --write

chore: update templates dependencies
  src/templates/next/js/package.json
  src/templates/next/ts/package.json
  src/templates/react/js/package.json
  src/templates/react/ts/package.json
Due: prettier --write

chore: update project dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update templates (#84)
  package.json
  pnpm-lock.yaml
  src/templates/next/js/package.json
  src/templates/next/ts/package.json
  src/templates/react/js/package.json
  src/templates/react/ts/package.json
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
  src/templates/react/ts/tsconfig.node.json
Due: prettier --write

bump next to v14.2.28
  src/templates/next/js/package.json
Due: prettier --write

bump next to v14.2.28
  src/templates/next/ts/package.json
Due: prettier --write

bump next to v14.2.28 (#207)
  src/templates/next/js/package.json
Due: prettier --write

bump next to v14.2.28 (#208)
  src/templates/next/ts/package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

downgrade commander to 12.1.0
  package.json
Due: prettier --write

downgrade commandter on lock file
  pnpm-lock.yaml
Due: none

downgrade commander to 12.1.0 (#209)
  package.json
Due: prettier --write

downgrade commandter on lock file (#210)
  pnpm-lock.yaml
Due: none

chore(release): v1.2.4
  .release-please-manifest.json
Due: prettier --write

chore(release): v1.2.4 (#211)
  .release-please-manifest.json
Due: prettier --write

chore(deps): update cli deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(node-version): bump project `node-version`
  .node-version
Due: none

chore: remove unnecessary rule disabled
  src/utils/setup-project.ts
Due: prettier --write, eslint --fix

refactor: use latest secure lts or fallback to user's current node
  src/utils/add-node-version.ts
Due: prettier --write, eslint --fix

feat: update templates
  src/templates/next/ts/next.config.mjs
  src/templates/next/ts/next.config.ts
  src/templates/next/ts/tsconfig.json
  src/templates/react/js/jsconfig.json
  src/templates/react/js/package.json
  src/templates/react/js/src/app.jsx
  src/templates/react/js/src/main.jsx
  src/templates/react/ts/src/main.tsx
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
  src/templates/react/ts/tsconfig.node.json
Due: prettier --write, eslint --fix

refactor: move templates deps to separate `package.json` files
  src/dependencies/base/package.json
  src/dependencies/next/package.json
  src/dependencies/react/package.json
  src/dependencies/typescript/package.json
  src/dependencies/vite/package.json
  src/generators/next.ts
  src/generators/react.ts
  src/templates/next/js/package.json
  src/templates/next/ts/package.json
  src/templates/react/js/package.json
  src/templates/react/ts/package.json
  src/utils/build-dependencies.ts
  tsup.config.ts
Due: prettier --write, eslint --fix
