Repository FE-Midas-Consultores/create-midas-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(eslint): migrate to flat config
  .eslintignore
  .eslintrc.json
  eslint.config.js
Due: prettier --write, eslint --fix

chore(lintstaged): pass config file to avoid run inner lintstaged configs
  .husky/pre-commit
Due: none

chore(deps): add rimraf
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(templates): remove eslint legacy config files
  src/templates/next-ts/.eslintignore
  src/templates/next-ts/.eslintrc.json
  src/templates/next/.eslintignore
  src/templates/next/.eslintrc.json
  src/templates/react-ts/.eslintignore
  src/templates/react-ts/.eslintrc.json
  src/templates/react/.eslintignore
  src/templates/react/.eslintrc.json
Due: prettier --write

refactor(cli): unify generators into `createProject`
  src/constants/generators.ts
  src/constants/templates.ts
  src/generators/base.ts
  src/generators/create-project.ts
  src/generators/react.ts
  src/index.ts
  src/utils/build-dependencies.ts
  src/utils/get-project-name.ts
  src/utils/get-template.ts
  src/utils/get-templates.ts
  src/utils/get-ts-preference.ts
  src/utils/handle-folder-conflict.ts
  src/utils/setup-project.ts
  src/utils/show-next-steps-message.ts
Due: prettier --write, eslint --fix

ci: update dependabot and release-please workflows
  .github/dependabot.yml
  .github/workflows/release-please.yml
Due: none

chore(deps): add execa and vitest
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: add cli test suite
  src/test/cli.test.ts
Due: prettier --write, eslint --fix

ci: add pull request workflow
  .github/workflows/pull-request.yml
Due: none

docs: update `README.md`
  README.md
Due: prettier --write

docs: update `README.md` (#213)
  README.md
Due: prettier --write

fix(deps): update `pnpm-lock`
  pnpm-lock.yaml
Due: none

fix(deps): update `pnpm-lock` (#218)
  pnpm-lock.yaml
Due: none

ci(labels): add chore label
  .github/labels.yml
Due: none

ci(labels): add test and branch labels configuration
  .github/labeler.yml
Due: none

ci(pull-request): add paths prop
  .github/workflows/pull-request.yml
Due: none

ci: update github workflows (#258)
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/pull-request.yml
Due: none

chore(eslint-ts): turn off triple slash reference rule
  src/templates/next-ts/eslint.config.mjs
  src/templates/react-ts/eslint.config.js
Due: prettier --write, eslint --fix

feat(next-ts): add typed routes config
  src/templates/next-ts/next.config.ts
Due: prettier --write, eslint --fix

feat(next-ts): add turbopack in dev mode
  src/templates/next-ts/package.json
  src/templates/next/package.json
Due: prettier --write

feat(next-ts): decouple next lint from lint scripts
  src/templates/next-ts/package.json
  src/templates/next/package.json
Due: prettier --write

feat: update next templates (#262)
  src/templates/next-ts/eslint.config.mjs
  src/templates/next-ts/next.config.ts
  src/templates/next-ts/package.json
  src/templates/next/package.json
  src/templates/react-ts/eslint.config.js
Due: prettier --write, eslint --fix

ci: update publish workflow
  .github/workflows/release-please.yml
  package.json
Due: prettier --write

ci: update publish workflow (#284)
  .github/workflows/release-please.yml
  package.json
Due: prettier --write

feat(templates): update react and next to the latest versions
  package.json
  pnpm-lock.yaml
  src/dependencies/base/package.json
  src/dependencies/next/package.json
  src/dependencies/react/package.json
  src/dependencies/typescript/package.json
  src/dependencies/vite/package.json
  src/templates/next-ts/eslint.config.mjs
  src/templates/next-ts/next.config.ts
  src/templates/next-ts/package.json
  src/templates/next-ts/tsconfig.json
  src/templates/next/eslint.config.mjs
  src/templates/next/next.config.mjs
  src/templates/next/package.json
  src/templates/react-ts/eslint.config.js
  src/templates/react-ts/vite.config.ts
  src/templates/react/eslint.config.js
  src/templates/react/vite.config.js
Due: prettier --write, eslint --fix

feat(templates): update react and next to the latest versions (#285)
  package.json
  pnpm-lock.yaml
  src/dependencies/base/package.json
  src/dependencies/next/package.json
  src/dependencies/react/package.json
  src/dependencies/typescript/package.json
  src/dependencies/vite/package.json
  src/templates/next-ts/eslint.config.mjs
  src/templates/next-ts/next.config.ts
  src/templates/next-ts/package.json
  src/templates/next-ts/tsconfig.json
  src/templates/next/eslint.config.mjs
  src/templates/next/next.config.mjs
  src/templates/next/package.json
  src/templates/react-ts/eslint.config.js
  src/templates/react-ts/vite.config.ts
  src/templates/react/eslint.config.js
  src/templates/react/vite.config.js
Due: prettier --write, eslint --fix

fix: repository url
  package.json
Due: prettier --write

fix: repository url (#287)
  package.json
Due: prettier --write

docs: remove npm token note
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{cjs,mjs,js,jsx,ts,tsx}) or (any of: *.{json,md,html,css})
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
